<div class="register-wrapper box">
<h2>Signup</h2>
<%= form_with model: @user, url: signup_path do |form| %>
    <div class="field-wrapper">
      <%= form.label :email %><br>
      <%= form.email_field :email %>
    </div>
    <div class="field-wrapper">
      <%= form.label :password %><br>
      <%= form.password_field :password %>
    </div>
    <div class="field-wrapper">
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation %>
    </div>
    <div class="left-button field-wrapper">
      <%= form.submit 'Signup' %>
    </div>
    <div class="redirect-link field-wrapper">Already have account? <%= link_to 'Login', login_path %></div>
<% end %>
</div>
