<div class="register-wrapper box">
<h2>Signup</h2>
  <% if @user.errors.any? %>
    <div class="error-messages">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this account from being saved:</h3>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: @user, url: signup_path do |form| %>
    <div class="field-wrapper">
      <%= form.label :email %>
      <%= form.email_field :email, placeholder: "youremail@example.com" %>
    </div>
    <div class="field-wrapper">
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: "enter your password" %>
    </div>
    <div class="field-wrapper">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, placeholder: "enter your password again" %>
    </div>
    <div class="field-wrapper">
      <%= form.submit 'Signup' %>
    </div>
    <div class="redirect-link field-wrapper">Already have account? <%= link_to 'Login', login_path %></div>
  <% end %>
</div>
