<div class="main-container">
  <div class="contents-wrapper box">
    <h1>Edit Post</h1>
    <%= form_with model: @post do |form| %>
      <div class="field-wrapper">
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </div>
      <div class="field-wrapper">
        <%= form.label :content %><br>
        <%= form.text_area :content %>
      </div>
      <span class="left-button"><%= form.submit 'Update Post' %></span>
      <span class="right-button"><%= link_to 'Cancel', my_posts_path %></span>
    <% end %>
  </div>
</div>
