<div class="main-container">
  <div class="contents-wrapper box">
    <h1>Create New Post</h1>
    <%= form_with model: @post, url: posts_path, method: :post do |form| %>
      <div class="field-wrapper">
        <%= form.label :title %><br>
        <%= form.text_field :title %><br>
      </div>
      <div class="field-wrapper">
        <%= form.label :content %><br>
        <%= form.text_area :content %><br>
      </div>
      <span class="left-button"><%= form.submit 'Create Post' %></span>
      <span class="right-button"><%= link_to 'Cancel', my_posts_path %></span>
    <% end %>
  </div>
</div>