<div class="main-container">
  <div class="contents-wrapper box">
    <div class="avatar">
      <img src="<%= profile_image_url_for(@post.user) %>" alt="Profile Image" class="avatar-photo">
      <%= link_to @post.user&.personal_information&.username || @post.user&.email, user_path(@post.user)%>
    </div>
    <div class="post-contents">
      <h2><%= @post.title %></h2>
      <p><%= @post.content %></p>
      <% if current_user && current_user == @post.user %>
        <div class="actions">
          <span class="click-button"><%= link_to 'Edit', edit_post_path(@post) %></span>
          <span class="delete"><%= button_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="contents-wrapper">
    <div class="comments-adder top-border-line">
      <h3>Comments</h3>
        <% if logged_in? %>
          <h3>Add a Comment</h3>
          <%= form_with model: [@post, Comment.new] do |form| %>
            <%= form.text_area :content, placeholder:"Leave your comments here"%><br>
            <%= form.submit 'Add Comment', class:"add-comment-button"%>
          <% end %>
        <% end %>
    </div>
    <% if @post.comments.any? %>
      <% @post.comments.each do |comment| %>
      <div class="comments bottom-border-line">
        <div class="avatar">
          <% if comment.user.present? %>
            <img src="<%= profile_image_url_for(comment.user) %>" alt="Profile Image" class="avatar-photo">
            <%= link_to comment.user&.personal_information&.username || comment.user&.email, user_path(comment.user)%>
          <% else %>
            <img src="<%= asset_path("default_profile_image.png") %>" alt="Profile Image" class="avatar-photo">
            <span>Nonexistent User</span>
          <% end %>
        </div>
        <p class="post-contents"><%= comment.content %></p>
        <% if current_user && (current_user == @post.user || current_user == comment.user) %>
          <span class="delete"><%= button_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </div>
      <% end %>
    <%else %>
      <p>There is no any comment yet.</p>
    <% end %>
  </div>
</div>
